/* VARIABLES*/

$fondo: #1b1f20;
$degradeRojo: linear-gradient(to right, rgb(221, 3, 3), rgb(138, 4, 4));

/* MIXIN*/

@mixin reset-list {
    margin: 0;
	padding: 0;
    list-style: none;
    box-sizing: border-box;
}


/* Codigo CSS básico */
*{
	@include reset-list;
}

/*Inicio Estilo Nav*/




 .encabezado {
     width: 100%;
  margin: 0 auto;
   height: 50px;
     display: flex;
        justify-content: space-between;
     align-items: center;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     }



.navBar {
    background-color: #1b1f20;
    }

  .logo {
   width: 50px;
   height: 40px;
   padding-top: 10px;
   padding-left: 20px;
  }

 .barraNav {

    height: 50px;
     width: 500px;
    display: flex;
  right: 50px;
     top: 5px;
     position: relative;
     justify-content: space-between;
     align-items: center;
    text-decoration: none;
 }

.inicio { 
    text-decoration: none; color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: 600; letter-spacing: 1px;
}

.sobreMi {
    text-decoration: none; color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: 600; letter-spacing: 1px;
}

.proyectos {
    text-decoration: none; color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: 600; letter-spacing: 1px;
}

.contacto {
    text-decoration: none; color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: 600; letter-spacing: 1px;
}

.ayuda {
    text-decoration: none; color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px; font-weight: 600; letter-spacing: 1px;
}

.encabezado {
    width: 100%;
    height: 50px;
    padding: 1rem;
    position: relative
}

/*Fin Estilo Nav*/


/*Inicio Estilo Body*/

    body{
	overflow-x: hidden;
    background-color: $fondo;
    display: grid;
    grid-template-columns: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: medium; color: grey
    }

    main {
        width: 90vw;
        margin: 0 auto;
        min-height: calc(100vh - 50px - 25px);
    }

    html{
	font-size: 100%;
    }

  .encabezado {
       font-size: large;
       font-weight: 400; color: white;
       
   }

   .titulo h3 {
       font-size:medium; color: #cf1d2a;

        h1 {
            font-size: 250%; font-weight: 700; color: white;
        }
   }

   .parrafosComunes {
       height: 100px;
       width: 300px;
       margin-top: 38px;
       margin-left: 1rem;
       margin-right: 1rem;
       margin-bottom: 1rem;

        h3 {
            font-size: large; color: white;
              }
   }

    p {
        color: #b0b0b0;
        font-size: small;
        padding-top: 10px;
        padding-bottom: 10px;
}

    li {
        list-style-type: none;
        padding-right: 40px;
        font-weight:700;
        font-size: small;

}

    .parrafo-Comunes {
        margin-top: 10px;
    }

    .preguntas {
            text-align: center;
            padding-top: 2rem;

                h2 {
                    font-size: large; color: white
                }

                    h3 {
                        font-size: small; color: grey;
                    }

                        h4 {
                            padding-top: 10px;
                        }
    }

    .principales {
            display:flex;
            flex-direction: row;
            margin-top: 70px;
            justify-content: center;
            margin-bottom: 20px;

    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(4,fr);

    }

    .botonContacto {
            margin-left: 50px;
            text-decoration:none;
            font-weight:600;
            font-size:20px;
            color:#ffffff;
            background-image: $degradeRojo;
            padding-top:20px;
            padding-bottom:20px;
            padding-left:40px;
            padding-right:40px;
    }

    .btn {
            margin-top: 20px;
            width: 70px;
            text-decoration:none;
            font-weight:600;
            font-size:15px;
            color:#ffffff;
            padding-top:10px;
            padding-bottom:10px;
            padding-left:10px;
            padding-right:10px; 
            background-repeat: no-repeat;
            border: #cf1d2a;
            background-image: $degradeRojo;
    }

    .botonContacto-sobreMi {
        text-decoration:none;
        font-weight:600;
        font-size:20px;
        color:#ffffff;
        margin-bottom: 20px;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:40px;
        padding-right:40px;
        margin-top:10px;
        background-repeat: no-repeat;
    }

    

    /*Fin Estilo Body*/



    /*Footer inicio*/


        .sociales {
            width: 50px;
            height: 25px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-self: center;
    }

    .instagramIcon {
        margin-right: 30px;
        margin-left: 30px;

    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 30px;
        margin-left: 30px;
        height: fit-content;
        width: 90vw;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        
    }

    .madeBy {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .madeBy h5 {
        font-size: small;
    }

    .madeBy .heart {
        margin-right: 10px;
    }
    /*Footer fin*/



    /* Media Querie Tablet*/

    @media screen and (max-width: 768px) {

.encabezado {
    width: 100%;
}

.ayudame {
    width: 400px;
    overflow: visible;
}

.logo {
    display: none;
}

.losDiseños {
    width: 20%;
}

.barraNav{
    align-items: center;
}
    .sobre_mi {
        margin-left: 0;
    }

    .contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0% auto;
        }

    .encabezado {
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }


    .principales { 

        flex-direction: column;
        align-items: center;
    }

    .llamador {
        width: auto;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;


    }

    .llamador h2 {
        font-size: 20%;
        margin-top: 20px;
        margin-left: 20px;
    }

    .llamador p {
        font-size: 50%;
        margin-top: 20px;
        margin-left: 20px;
    }


    .botonContacto {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 0%;
      

    }

    .titulo { 
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .titulo h3 { 
    align-self: center;
    margin-top: 30px;
    }

    .miCaja {
        margin-left: 15px;
    }
    .finalPrincipal {
        width: fit-content;
        flex-wrap: wrap;
    }


    .titulo {
        flex-wrap: wrap;
      }
      
    .infoSobreMi {
        align-items: center;
    }

        /* Footer Inicio Responsive*/

        .logoFooter {
            width: 32px;
            height: 32px;
            padding-left: 40px;
            position: relative;
            align-items: center;
    }
        .sociales {
            width: 50px;
            height: 25px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-self: center;
    }

    .instagramIcon {
        margin-right: 30px;
        margin-left: 30px;

    }

    .footer {
        /* flex-wrap: wrap; */
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        justify-content:space-evenly;
    }

    .madeBy {
        display: none;
    }

    .madeBy .heart {
        display: none;
        }

    }
   

 /*Sobre Mi*/

 .elTextoSM {
     width: fit-content;
 }





    /* Media Querie Celular*/

    @media screen and (max-width: 320px) {


    /* Footer Inicio Responsive*/

        .logoFooter {
            width: 32px;
            height: 32px;
            padding-left: 40px;
            position: relative;
            align-items: center;
    }
        .sociales {
            width: 50px;
            height: 25px;
            padding-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-self: center;
    }

    .instagramIcon {
        margin-right: 30px;
        margin-left: 30px;

    }

    .footer {
        width: 100%;
        height: 60px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        justify-content:space-around ;
    }

    .madeBy {
        display: none;
    }

    .madeBy .heart {
        display: none;
    }

    /* Footer Responsive Fin*/
    }
