.contacto {
    text-align: left;
    padding-top: 6rem;
    width: 500px;
    margin: 0 auto;
  
}

form {
    padding-top: 10px;
}

.acordion-bg {
    background-color: #1b1f20;
}

#collapseOne {
    background-color: #1b1f20;
}

.accordion-body {
    background-color: #1b1f20;
}

.accordion-button {
    background-color: #262b2c;
    color: white;
}